body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f0c29;
    color: white;
    text-align: center;
}

nav {
    padding: 20px;
    background: #14113c;
}

.logo {
    color: #b76eff;
}

.hero {
    padding: 80px 20px;
}

.hero span {
    color: #b76eff;
}

.about {
    padding: 60px 20px;
}

.skills {
    padding: 60px 20px;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    margin: 10px;
    color: #b76eff;
}

footer {
    padding: 20px;
    background: #14113c;
}
.social {
    padding: 60px 20px;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    background: #b76eff;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}

.social-links a:hover {
    background: white;
    color: #0f0c29;
}
